<div class="profile-page-back-to">
  {{buttonArrow}}
</div>
<div class="profile-page-content">
  <div class="profile-page-content-header">
    {{avatar}}
    <h2 class="profile-page-content-header__name">Иван</h2>
  </div>

  {{profileFormDetails}}

  <div class="profile-page-content-actions">
    {{editData}}
    {{editPassword}}
    {{exit}}
  </div>
</div>


